body {
	 background-image: url("romantic.jpg");
}

.strokeme
{
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

h1{
	font-size: 2em;
	background-color: #D80000;
}

form{
	font-size: 30px;
}